PORT=3000

DB_HOST=db
DB_PORT=3306
DB_NAME=pos_transaction
DB_USER=root
DB_PASS=root

JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=24h

CRYPTO_SECRET=your-32-char-secret-here
APP_NAME=pos-transaction
APP_VER=1.0.0

BCRYPT_ROUNDS=8
